<?xml version="1.0" encoding="utf-8"?>
  <packages>
		
		<!-- Text manipulation and code generation tool -->
    <package id="NimbleText" />
	
		<!-- File compression utility-->
		<package id="7Zip" />
		
		<!-- Text editor, popular with IT and dev departments -->
    <package id="notepadplusplus.Install" />
		
		<!-- File and folder comparison tool-->
		<package id="BeyondCompare" />

		<!-- Disk usage statistics viewer and cleanup tool -->
		<package id ="WinDirStat" />
  </packages>
</xml>