<?xml version="1.0" encoding="utf-8"?>
  <packages>
  <!-- browsers -->
		<package id="microsoft-edge" />
    <package id="googlechrome" />
	  <package id="firefox" />
	  <package id="opera" />
   <!-- Fiddler is a Web Debugging Proxy which logs all HTTP(S) traffic 
        between your computer and the Internet. -->
    <package id="fiddler4" />
	<!-- Markdown Monster is a full-featured Markdown editor for Windows. -->
    <package id="MarkdownMonster" version="1.28.5"/>
	
	</packages>
</xml>